<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint possimus praesentium iste, maiores ipsum consequatur sequi eaque recusandae. Quidem deleniti sint doloribus rem adipisci voluptatum voluptatem ipsa aliquid, libero nemo!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint possimus praesentium iste, maiores ipsum consequatur sequi eaque recusandae. Quidem deleniti sint doloribus rem adipisci voluptatum voluptatem ipsa aliquid, libero nemo!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint possimus praesentium iste, maiores ipsum consequatur sequi eaque recusandae. Quidem deleniti sint doloribus rem adipisci voluptatum voluptatem ipsa aliquid, libero nemo!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint possimus praesentium iste, maiores ipsum consequatur sequi eaque recusandae. Quidem deleniti sint doloribus rem adipisci voluptatum voluptatem ipsa aliquid, libero nemo!
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, et! Debitis cumque animi illo voluptas adipisci at architecto, assumenda aliquam, unde nostrum fuga maiores excepturi asperiores dolor eius vitae obcaecati.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, et! Debitis cumque animi illo voluptas adipisci at architecto, assumenda aliquam, unde nostrum fuga maiores excepturi asperiores dolor eius vitae obcaecati.
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi quaerat distinctio esse maiores aspernatur. Sint voluptatibus ipsum libero iusto dolores dolorem blanditiis fugit, deserunt esse sapiente itaque quae perspiciatis ullam!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi quaerat distinctio esse maiores aspernatur. Sint voluptatibus ipsum libero iusto dolores dolorem blanditiis fugit, deserunt esse sapiente itaque quae perspiciatis ullam!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi quaerat distinctio esse maiores aspernatur. Sint voluptatibus ipsum libero iusto dolores dolorem blanditiis fugit, deserunt esse sapiente itaque quae perspiciatis ullam!
        <br>
    </p>
</div>
